body {
  font-family: 'Quicksand', sans-serif !important;
  font-family: 'Montserrat', sans-serif;
  /*background: url('https://media.istockphoto.com/photos/portrait-of-multicultural-medical-team-standing-in-hospital-corridor-picture-id1204177269?k=20&m=1204177269&s=612x612&w=0&h=gBL8z_6qD6MuEeVZjgrkXUMepp8zwpIEj21LqSbnpZ8=');
  /*background: url('');
  background-size: cover;
  background-repeat: repeat;
  background-color: white;
  color: white;*/
  /*display: flex;
  align-items: center;
  /*height: 100vh;*/
}

.navbar {
  background-color: #191919;
  color: white;
  padding: 2% 6%;
}

@media (max-width: 720px) {
  .navbar {
    background-color: #191919;
    color: white;
    padding: 2% 5%;
  }

  @media (max-width: 720px) {
    hr {
      color: transparent !important;
      margin-bottom: 4%;
    }

    .servicehead {
      font-size: 1.1rem !important;
    }

    .servicetext {
      font-size: 0.8rem !important;
    }

    .servicelistmargin {
      margin-bottom: 5% !important;
    }
  }

  .nav-item {
    font-size: 11px;
  }
}

@media (max-width: 720px) {
  .navbar-toggler {
    padding: 0.25rem 0 !important;
  }

  .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-bottom: 0;
  }

  .nav-linkexpand {
    padding-bottom: 1rem !important;
  }
}

@media (max-width: 720px) {
  .imgnav {
    height: 30px !important;
  }
}

.navbar-toggler {
  padding: 0;
  border: 0
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.navbar-nav .nav-link {
  padding-right: 34px;
  float: right !important;
  padding-left: 0;
}

p {
  margin-bottom: 0 !important;
}

.firstconpad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 700px) {
  .firstconpad {
    padding-top: 0rem !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 700px) {
  .secondbr {
    display: none;
  }
}

@media (max-width: 1000px) {
  .sectiontop {
    padding-top: 10%;
  }
}

section {
  height: ;
  width: 100%;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100% !important;
  }
}

.container1 {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.container {
  margin: auto !important;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  background-color: #455434;
}

button[type="submit"]:hover {
  background-color: #455434;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.section2 {
  padding-top: 3rem !important;
  padding-bottom: 0 !important;
}

@media (max-width: 700px) {
  .section2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
  }
}

.section2pad {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

@media (max-width: 700px) {
  .section2pad {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.ourservice {
  text-align: center !important;
  padding-bottom: 2rem !important;
}

@media (max-width: 700px) {
  .ourservice {
    text-align: center !important;
    padding-bottom: 0 !important;
  }
}

.imgservices {
  padding-bottom: 2%;
}

@media (max-width: 720px) {
  .imgservices {
    padding-bottom: 2%;
  }

  .servicecard {
    object-fit: cover;
    height: 100%;
  }

  .ourservicep {
    padding: 0 2% !important;
  }

  @media (max-width: 720px) {
    .ourservicep {
      padding: 0 0 5% 0 !important;
    }

    .card {
      margin-bottom: 4%;
    }

    .cardspad {
      padding: 0 1% 0 1%;
    }

    @media (max-width: 720px) {
      .cardspad {
        padding: 0 1%;
      }

      .w-100 {
        padding-top: 4rem !important;
      }

      @media (max-width: 700px) {
        .w-100 {
          padding-top: 0 !important;
        }

        .centertext, .sectioncentermobile {
          text-align: center !important;
        }

        .ourserviceheadtext {
          padding: 0 0 !important;
          font-size: 0.9rem !important;
        }
      }

      .landingfirst {
        background-repeat: no-repeat;
        background-size: cover;
      }

      @media (max-width: 700px) {
        .landingfirst {
          background: url('https://i.ibb.co/DG5NrXT/bgmob1.png') !important;
          background-repeat: no-repeat;
          background-size: cover !important;
          padding: 5% 5% !important;
        }
      }

      .carddiv {
        background-color: ;
        color: white;
        padding: 0 5%;
      }

      .con1 {
        padding: 2% 5% 0 5%;
      }

      .h5 {
        font-size: 0.7rem !important;
      }

      .footer {
        font-size: 15px !important;
        text-align: center;
        padding: 0 0;
        font-weight: 600;
        color: white;
        background-color: #3d4122;
      }

      @media (max-width: 700px) {
        .footer {
          font-size: 12px;
        }
      }
